@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* good practice to Override the defaults browser settings by using  wildcard*/
* {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #050505;
    /* applying google font family to the body */
    font-family: 'lato', sans-serif;
}

/* Header*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    z-index: 50;
    box-shadow: 0 3px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* remove the underline des ancors elements in the header element*/
header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #252525;
}

#plan {
    /* removing the bullet points*/
    list-style-type: none;
    letter-spacing: 4px;
    font-size: 110%;
}

#plan>li {
    margin-bottom: 1em;
}

/*Nav bar Style with dropdown toggle */

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}

/* Nav-toggle*/

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

#nav-toggle-label {
    font-size: 2rem;
}

/* Main*/
main {

    flex: 1 0 auto;
    /* pushing the main element down*/
    margin-top: 45px;
}

#hero-outer {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
    margin-top: 75px;
}

#hero-pic {
    width: 100%;
    height: 300px;
    background: url(../images/home-outer_00.jpg) no-repeat center center;
    background-size: cover;

}

#hero-text {
    position: absolute;
    left: 20px;
    top: 120px;
    width: 60%;
    height: auto;
}

#hero-text h1 {
    color: rgb(20, 150, 150);
    font-size: 20px;
    font-weight: 5 700;
    text-align: center;
    padding: 5px 10px;
    margin: 0;
}

#hero-text p {
    color: rgb(13, 37, 37);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 10px 10px;
    margin: 0;
}

#services-outer {
    position: relative;
    height: auto;
    width: 90%;
    margin: 20px auto;
    background-color: #ffffff;
    /*justify-content: space-between;*/
}

#services-outer>h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 200%;
}

.col>div {
    line-height: 20px;
    margin-bottom: 5px;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;

}

#cirle-image-bg {
    width: 90vw;
    height: 90vh;
    background: url(../images/kid-care.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;

}

/* to centered the image*/
#services-image {
    display: flex;
    align-items: center;
    justify-content: center;
}



/*  Appointments section */

#appointments-outer {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
    margin-top: 75px;
}

#appointments-outer>h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 200%;
}

#appointments-pic {
    width: 100%;
    height: 300px;
    background: url(../images/blood-test.jpg) no-repeat center center;
    background-size: cover;
}

#about-us {}

/* footer*/
footer {
    background-color: rgba(9, 109, 14, 0.616);
}

#social-net {
    padding: 15px 0;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-net i {
    color: #3a3a3a;
    font-size: 150%;
}













/* Media query: iPad pro and larger (1024px and up) */
@media screen and (min-width: 1024px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #plan {
        display: flex;
    }

    #plan>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #praxis {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 99px;
    }

    /*services section*/
    #services-one,
    #services-two {
        display: flex;
        flex-direction: column;
        width: 100%;

    }


    #services-two>div {
        width: 75%;
        text-align: end;
        align-self: flex-end;
    }

    #services-one>div {
        width: 75%;
        text-align: start;
        align-self: flex-start;
    }

}


/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #plan a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}