@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* good practice to Override the defaults browser settings by using  wildcard*/
* {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #050505;
    /* applying google font family to the body */
    font-family: 'lato', sans-serif;
}

/* Header*/
header {
    background-color: #ffffff;
    padding: 0 2rem;
    position: fixed;
    width: 100%;
    z-index: 50;
    box-shadow: 0 3px 2px #3a3a3a;
}

/* remove the underline des ancors elements in the header element*/
header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #050505;
}

#plan {
    /* removing the bullet points*/
    list-style-type: none;
    letter-spacing: 4px;
    color: #050505;
}

#plan li {
    margin-bottom: 4px;
}

/* Main*/
main {
    background-color: rgb(95, 223, 91);
    flex: 1 0 auto;

}

/* footer*/
footer {
    background-color: rgba(9, 109, 14, 0.616);
}